<meta charset='UTF-8'>
<title>The Classes - A Gallery</title>

<head>
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Oswald" rel="stylesheet">
</head>
<style>
    /* media queries */

    @media only screen and (min-width: 300px) {

        .gallery {

            grid-template-columns: 1fr;
            grid-gap: 1px;
            align-content: center;

        }
        .class {
            grid-column: 1;
            border-color: #9EBFB4;
            border-style: groove;
            max-height: 50px;
            max-width: 50px;
            object-fit: cover;


        }
        h1 {
            grid-column: span 1;
            font-size: 15px;
        }
    }

    @media only screen and (min-width: 500px) {
        .gallery {

            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;

        }
        .class {
            grid-column: 1;
            border-color: #9EBFB4;
            border-style: groove;
            min-height: 75px;
            min-width: 75px;


            object-fit: cover;

        }
        h1 {
            grid-column: span 2;
            font-size: 30px;
        }
    }

    @media only screen and (min-width: 700px) {
        .gallery {

            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;


        }
        .class {
            grid-column: 4;
            border-color: #9EBFB4;
            border-style: groove;
            min-height: 175px;
            min-width: 175px;

            padding: 2px;
            object-fit: cover;

        }
        h1 {
            grid-column: span 4;


            font-size: 40px;

        }
        #class-name {
            font-size: 35px;
        }
    }

    @media only screen and (min-width: 1000px) {
        .gallery {

            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 50px;


        }
        .class {
            grid-column: 4;
            border-color: #9EBFB4;
            min-height: 200px;
            min-width: 200px;
            border-style: groove;
            object-fit: cover;

        }
        h1 {
            grid-column: span 4;


            font-size: 75px;

        }
        #class-name {
            font-size: 40px;
        }

    }

    /* generic styles */

    body {
        padding-top: 10px;
        background-image: url('http://wow.zamimg.com/uploads/screenshots/normal/565257.jpg');
        font-family: 'Berkshire Swash', cursive;
        background-repeat: no-repeat;
        background-color: black;

    }



    .gallery {
        display: grid;


        justify-items: center;

    }

    .class {
        align-self: center;
        justify-self: center;

    }

    h1 {
        color: #FEDDBA;
        text-align: center;
    }

    #class-name {
        color: #9EBFB4;
        font-family: 'Oswald', sans-serif;
    }
</style>